.slider {
  width: 100%;
  min-height: 100vh;
}

.slid {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.slid1 {
  background-image: url(../img/1.jpg);
}
.slid2 {
  background-image: url(../img/2.jpg);
}
.slid3 {
  background-image: url(../img/3.jpg);
}
.slid4 {
  background-image: url(../img/4.jpg);
}
.slid5 {
  background-image: url(../img/5.jpg);
}

.slid_title {
  position: absolute;
  top: 10%;
  width: 100%;
  color: #CC3333;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 0;
}

.slider .slick-slide {
  min-height: 100vh;
}

.slider .slick-prev {
  width: 40px;
  height: 40px;
  left: 25px;
  z-index: 2;
}

.slider .slick-next {
  width: 40px;
  height: 40px;
  right: 25px;
  z-index: 2;
}

.slider .slick-prev:before, .slider .slick-next:before {
  font-size: 40px;
}

.slider .slick-dots {
  bottom: 15%;
}
.slider .slick-dots li {
  margin: 0 10px;
}
.slider .slick-dots li button:before {
  font-size: 20px;
  color: #fff;
}
.slider .slick-dots li.slick-active button:before {
  color: #CC3333;
}

.slider .slick-prev:before {
  background: url(../img/arrowleft.svg) no-repeat center;
}
.slider .slick-next:before {
  background: url(../img/arrowright.svg) no-repeat center;
}